body{
  background-color: whitesmoke;
}

.yellow{
  display:inline;
  background-color: #fcf014;
  margin-left:10px;
  padding: 5px;
}

#pink{
  display: inline;
  background-color: #ff0c59;
  margin-left: 10px;
  padding: 5px 10px 5px 5px;
}
