body{
  background-color: whitesmoke;
}

.yellow{
  background-color: #fcf014;
  width: 150px;
  height: 50px;
  margin: 20px auto;
  padding: 5px;
}

#pink{
  background-color: #ff0c59;
  margin: 20px auto;
  width: 150px;
  height: 50px;
  padding: 5px;
}
